<nav class="navbar navbar-fixed-top navbar-light bg-faded nav-styles">
  <div class="container">
    
    <ul class="nav navbar-header">
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/documents" routerLinkActive="active">Docs</a>
      </li>
      
      <li class="nav-item">
        <div ngbDropdown class="d-inline-block">
          
          <button class="btn btn-outline-primary" id="proposalDropdown" ngbDropdownToggle>Proposals</button>
          
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="proposalDropdown">
            <button class="dropdown-item" routerLink="/proposals" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Proposals</button>
            <button class="dropdown-item" routerLink="/proposals/new" routerLinkActive="active">New Proposal</button>
          </div>
        
        </div>
      </li>

    </ul>
  
  </div>
</nav>
<div class="app-body">
  <router-outlet></router-outlet>
</div>